
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Permanent Marker', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex; /*turn into a row*/
    width: 90vw; /*vw means viewr port, is where in the page the div will fit*/
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 500px; /*round the border*/
    color: white;  /*color of the text */
    cursor: pointer; /*change the cursor when he passes through div */
    flex: 0.5; /*set the images to the same size */
    margin: 10px; /*separeting images*/
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 35px;
    position: absolute;
    bottom: 20px;
    left: 150px;
    margin: 0;
    opacity: 0; /*that will make the h3 disapear till its active */
    color: black;
    background-color: white;
    border-radius: 500px;
}

.panel.active {
    flex: 5; /*changing the inicial value (0.5)*/
}
 .panel.active h3 {
     opacity: 1;
     transition: opacity 0.3s ease-in 0.4s; /*making the h3 shows more smootie*/
 }

 @media(max-widht: 480-px) {
     .container,
     {
         width: 100vw;
     }

     .panel:nth-of-type(4),
     .panel:nth-of-type(5) {
         display: none;
     }
      /*removing panels*/
 }

 @media screen (min-width: 601px) {
     .panel h3 {
         width: 100vw
     }
     
 }